@font-face {
  font-family: 'iranyekan';
  src: local('iranyekan'), url(./assets/fonts/iranyekanwebregular.woff) format("woff");
}

@font-face {
  font-family: 'iranyekanbold';
  src: local('iranyekan'), url(./assets/fonts/iranyekanwebbold.woff) format("woff");
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2a5496;
  font-family: 'iranyekan', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
